# Ignore node_modules directory
node_modules/

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll

# Ignore JetBrains IDE files
.idea/

# Ignore npm debug log
npm-debug.log

# Ignore yarn error log
yarn-error.log
