
.SignupBox {
  width: 90%;
  max-width: 537px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items:  flex;
  border-radius: 15px;
  padding: 40px;
}

.signUp {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: black;
  margin-bottom: 1.5rem;
}

.formGroup {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.inputLabel {
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #8B8B8B;
  pointer-events: none;
  transition: 0.3s ease-out;
}

.inputField {
  width: 100%;
  height: 64px;
  border-radius: 5px;
  border: 1px solid #DADADA;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  padding: 15px 16px;
  box-sizing: border-box;
}

.inputField:focus + .inputLabel,
.inputField:not(:placeholder-shown) + .inputLabel {
  top: 5px;
  left: 16px;
  font-size: 0.875rem;
  color: #8B8B8B;
}

.createAccountButton {
  width: 100%;
  height: 51px;
  background-color: #31A6F4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.createAccountButton:hover {
  background-color: #2593d9;
}

.loginPrompt {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.58);
  margin-bottom: 2rem;
}

.loginLink {
  color: #31A6F4;
  text-decoration: none;
}

.loginLink:hover {
  text-decoration: underline;
}


.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap:0.688rem; 
  width: 100%;
  position: relative;
  margin-bottom: 2rem; 
}

/* Solid lines */
.solidLine, .solidLine2 {
  border-top: 0.0625rem solid #31A6F4; 
  width: 11.625rem; 
}


.solidLine2 {
  width: 11.5625rem; 
}

/* Text prompt */
.otherlinksprompt {
  font-family: 'Poppins', sans-serif;
  font-size: 1.0625rem;
  letter-spacing: 0.015em; 
  line-height: 1.227; 
  font-weight: 400;
  color: #31A6F4;
  text-align: center; 
}

.socialSignUpContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .solidLine, .solidLine2 {
    width: 10rem; 
  }

  .otherlinksprompt {
    font-size: 0.9375rem;
  }
}
.socialSignUpBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  max-width: 250px;
  height: 63px;
  border: 2px solid #F2F2F2;
  border-radius: 8px;
  cursor: pointer;
}

.socialSignUpIcon {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.socialSignUpText {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #215FD8;
}